<div id="image-id">
  <%= attachment_image_tag @post, :before_image, :fill, 300, 300, fallback: "noimage.png", size:'50x50' %>
</div>
<div id="image-id">
  <%= attachment_image_tag @post, :before_image, :fill, 300, 300, fallback: "noimage.png", size:'50x50' %>
</div>