/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *{
  font-family: "arial unicode ms";
}

header{
    
  nav{
    display: flex;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 50;
    background-color: #ee5833;
    top: 0px;
    left: 0px;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.2));


    .nav-box-posts{
      display: flex;
      margin: 0 auto;
      width: 400px;
      justify-content: space-between;
      list-style: none;
      line-height: 50px;

      .nav-box-posts-item{
        justify-content: space-between;
        background-color: transparent;
        
        .nav-box-posts-item-link{
          text-decoration: none;
          font-family: "arial unicode ms";
          color: #fff;

          &:hover{
            text-shadow: 1px 2px 3px #fff;
          }

        }

      }

    }

    .nav-box-user{
      display: flex;
      list-style: none;
      height: 50px;
      line-height: 50px;
      margin-top: 0px;

      .nav-box-user-item-btn{
        height: 50px;
        line-height: 50px;
        display: inline-block;
        background-color: #888;
        text-decoration: none;
        font-family: "arial unicode ms";
        color: #fff;
      }

    }

  }

}


body{
  margin-top: 100px;
}


.post-new{
  position: fixed;
  width: 100px;
  top: 80%;
  left: 90%;

  .post-new-btn{
    width: 100px;
    height: 100px;
    background-color: #fff;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
    position: relative;
    border-radius: 50px;

    .post-new-image{
    	width: 60px;
      position: absolute;
      top: 20%;
      left: 20%;
    }

  }

}