#users-edit{
  @import "bootstrap-sprockets";
  @import "bootstrap";

  .title{
    margin: 0 auto;
    margin-top: 90px;
    display: block;
    text-align: center;
  }

  .submit-btn{
    margin-top: 30px;
    background-color: #49bc2d;
    color: #fff;
  }

}