#users-following-container{

  .title-box{
    width: 100%;
    background-color: #ffe4c4;
    margin-top: 50px;

    .following-logo{
      display: block;
      margin: 0 auto;
      width: 150px;
    }

  }

  .following-container{
    margin-top: 30px;
    
    .following-table{
      margin: 0 auto;

      .following-table-item{
        width: 200px;
        display: inline-block;
        text-align: center;

        .followers-profileimage{
          border-radius: 30px;
        }

      }

    }

  }

}