$smartphone_s: 320px;
$smartphone_m: 375px;
$smartphone_l: 425px;
$tablet_m: 768px;
$tablet_l: 1024px;

$breakpoints:(
  xs: $smartphone_s,
  sm: $smartphone_m,
  md: $smartphone_l,
  lg: $tablet_m,
  xl: $tablet_l
) !default;

// 小さいスクリーン優先のmixin
@mixin mediaQuery-up($breakpoint) {
  @media ( min-width: #{map-get($breakpoints, $breakpoint)} ) {
    @content;
  }
}

// 大きいスクリーン優先のmixin
@mixin mediaQuery-down($breakpoint) {
  @media ( max-width: #{map-get($breakpoints, $breakpoint)} ) {
    @content;
  }
}

#users-show-container{

  .profile-container{
    padding: 70px 0px 30px 0px;
    background-color: #ffe4c4;

    .profile-image-box{
      width: 300px;
      margin: 0 auto;
      text-align: center;

      @include mediaQuery-down(md) {
        width: 50%;
      }

      .profile-image{
        border-radius: 150px;

        @include mediaQuery-down(md) {
          width: 100%;
        }

      }

    }

    .profile-username-box{
      text-align: center;
    }

    .profile-edit-btn{
      color: #fff;
      display: block;
      width: 130px;
      margin: 0 auto;
      text-align: center;
      height: 30px;
      line-height: 30px;
      background-color: #f4b046;
      text-decoration: none;
    }

    .unfollow-btn{
      width: 130px;
      margin: 0 auto;
      text-align: center;
      display: block;
      color: #fff;
      height: 30px;
      line-height: 30px;
      background-color: #f7321cdb;
    }

    .follow-btn{
      width: 130px;
      margin: 0 auto;
      text-align: center;
      display: block;
      color: #fff;
      height: 30px;
      line-height: 30px;
      background-color: #386deb;
    }

    .profile-follow-count-box{
      display: flex;
      margin: 0 auto;
      width: 300px;

      h4{
        margin: 30px;
      }

    }

    .profile-userintroduction-box{
      width: 700px;
      margin: 0 auto;
      text-align: center;

      @include mediaQuery-down(md) {
        width: 90%;
      } 

    }

  }

  .posts-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 200px 30px 200px;

    @include mediaQuery-down(md) {
      width: 90%;
      margin: 50px auto;
    }    

    // flexboxで最後の１行を左寄せするため空のboxを配置
    &::after{
      content:"";
      display: block;
      width: 300px;
      }

    .posts-item-box{
      width: 300px;
      height: 300px;
      position: relative;
      margin-bottom: 60px;

      @include mediaQuery-down(lg) {
        width: 100%;
        height: auto;
      }

      .posts-item-beforeimage{

        @include mediaQuery-down(lg) {
          width: 100%;
        }

      }

      .posts-item-afterimage{
        opacity: 0;
        transition: 0.5s;
        position: absolute;
        left: 0px;
        top: 0px;

        @include mediaQuery-down(lg) {
          width: 100%;
        }

        &:hover{
          opacity: 1;
        }
      }

      .profile-image{
        position: absolute;
        top: 10px;
        left: 10px;
        opacity: 0;
        transition: 0.5s;
        border-radius: 30px;
        filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));

        @include mediaQuery-down(xl) {
          opacity: 1;
        }

        &:hover{
          border-radius: 0px;
        }

      }

      span{
        position: absolute;
        top: 37px;
        left: 70px;
        opacity: 0;
        transition: 0.3s;
        font-weight: bold;
        color: #fff;
        text-shadow: 1px 2px 3px #808080; 

        @include mediaQuery-down(xl) {
          opacity: 1;
        }

      } 

      .favorite-counter{
        position: absolute;
        top: 88%;
        left: 85%;
        color: #fff;
        text-shadow: 1px 2px 3px #808080;
        opacity: 0; 

        @include mediaQuery-down(xl) {
          opacity: 1;
        }

      }

      .favorite-image{
        position: absolute;
        top: 90%;
        left: 90%;
        opacity: 0;
        transition: 0.1s;
        filter: drop-shadow(8px 8px 8px rgba(0,0,0,0.6));
        width: 20px;

        @include mediaQuery-down(xl) {
          opacity: 1;
        }

        &:hover{
          width: 25px;
          top: 89%;
          left: 89%;
        }

      }

      &:hover .profile-image, &:hover span, 
      &:hover .favorite-image, &:hover .favorite-counter{
        opacity: 1;
      }

    }

  }

}