#users-show{
  margin-top: 100px;

  .profile-box-image{
    width: 300px;
    margin: 0 auto;

    .profile-box-image-item{
      border-radius: 150px;
    }

  }

  .profile-box-name{
    text-align: center;
  }

  .profile-box-follow-counter{
    display: flex;
    margin: 0 auto;
    width: 300px;

    h4{
      margin: 30px;
    }

  }

  .posts-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 200px 30px 200px;

    &::after{
      content:"";
      display: block;
      width: 300px;
      }

    .posts-box-item{
      width: 300px;
      height: 300px;
      position: relative;
      margin-bottom: 60px;

      .posts-box-item-after{
        opacity: 0;
        transition: 0.5s;
        position: absolute;
        left: 0px;
        top: 0px;

        &:hover{
          opacity: 1;
        }
      }

      .profile-image{
        position: absolute;
        top: 10px;
        left: 10px;
        opacity: 0;
        transition: 0.5s;
        border-radius: 30px;
        filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));

        &:hover{
          border-radius: 0px;
        }

      }

      &:hover .profile-image{
        opacity: 1;
      }

      span{
        position: absolute;
        top: 37px;
        left: 70px;
        opacity: 0;
        transition: 0.3s;
        font-weight: bold;
        color: #fff;
        text-shadow: 1px 2px 3px #808080; 
      } 
    
      &:hover span{
        opacity: 1;
      }

      .favorite-image{
        position: absolute;
        top: 85%;
        left: 85%;
        opacity: 0;
        transition: 0.1s;
        filter: drop-shadow(8px 8px 8px rgba(0,0,0,0.6));
        width: 20px;

        &:hover{
          width: 30px;
        }

      }

      &:hover .favorite-image{
        opacity: 1;
      }

    }

  }

}