$smartphone_s: 320px;
$smartphone_m: 375px;
$smartphone_l: 425px;
$tablet_m: 768px;
$tablet_l: 1024px;

$breakpoints:(
  xs: $smartphone_s,
  sm: $smartphone_m,
  md: $smartphone_l,
  lg: $tablet_m,
  xl: $tablet_l
) !default;

// 小さいスクリーン優先のmixin
@mixin mediaQuery-up($breakpoint) {
  @media ( min-width: #{map-get($breakpoints, $breakpoint)} ) {
    @content;
  }
}

// 大きいスクリーン優先のmixin
@mixin mediaQuery-down($breakpoint) {
  @media ( max-width: #{map-get($breakpoints, $breakpoint)} ) {
    @content;
  }
}

#posts-show{

  .before-logo{
    margin: 0 auto;
    margin-top: 30px;
    width: 130px;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
  }

  .after-logo{
    margin: 0 auto;
    width: 130px;
  }

  .logo-image{
    width: 100px;
  }

  .post-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    @include mediaQuery-down(xl) {
      display: block;
    } 

    .post-image{
      width: 500px;
      height: 500px;
      cursor: pointer;
      filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));

      @include mediaQuery-down(xl) {
        width: 50%;
        height: auto;
        margin: 0 auto;
      }

      @include mediaQuery-down(md) {
        width: 80%;
        margin: 0 auto;
      }

      .post-image-item{
        width: 100%;
      }

    }

    .post-right-container{
      margin: 30px;

      @include mediaQuery-down(xl) {
        width: 50%;
        margin: 20px auto;
      }

      @include mediaQuery-down(md) {
        width: 80%;
      }

      .post-user-box{
        display: flex;

        .post-user-profileimage{
          border-radius: 30px;
          filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
          margin-right: 10px;
        }

        .post-edit-box{
          margin-top: 28px;

          .post-edit-link{
            margin: 10px;
          }

        }

      }

      .post-introduction{
        width: 500px;
        word-break: break-all;
        margin: 0 auto;
        height: auto;
        margin-left: 30px;

        @include mediaQuery-down(xl) {
          width: 100%;
          height: auto;
        }

      }

      .favorites-container{
        display: flex;

        .favorite-image{
          filter: brightness(0.5);
          width: 30px;
          margin-left: 5px;
        }

      }

    }

  }

}



