#posts-show{

  .before{
    font-weight: bold;
    font-size: 60px;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
    text-shadow: 1px 2px 3px #fff;
    width: 100px;
    margin: 0 auto;
  }

  .after{
    font-weight: bold;
    font-size: 60px;
    filter: drop-shadow(10px 10px 10px rgba(245,6,6,0.6));
    text-shadow: 1px 2px 3px #fff;
    width: 100px;
    margin: 0 auto;
  }

  .post{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    .post-image{
      width: 600px;
      height: 650px;
      margin-left: 100px;
      margin-top: 50px;
      cursor: pointer;
      filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));

    }

    .post-box{
      margin-top: 100px;

      .post-box-profile{
        display: flex;

        .post-box-profile{
          border-radius: 30px;
          filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
          margin-right: 10px;
        }

      }

      .post-box-introduction{
        width: 600px;
        word-break: break-all;
        margin: 0 auto;
      }

    }

  }

}

